/*Root setting*/


#root{
  --bg-color: rgb(234, 225, 219);
  --bg-color-darker: rgb(244, 197, 166);
  --dark-mode-bg: rgb(32, 30, 30);  
  
}



.maticon:hover{
  color: white;
  box-shadow: 0px 0px 5px 1px black;  

}

#message{
  width: 25vw;
  height: 60px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top:80px;
  right: 5px;
  border: 2px solid var(--bg-color-darker);
  transition: width 3s ease-in;
  background-color: whitesmoke;
  border-radius: 8px;
  color: green;
  padding-left: 5px;

}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.navbar{
  background-color: var(--bg-color);
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  height: 10vh;
  border-bottom: 2px solid rgba(194, 193, 193, 0.677);
  box-shadow: 0px 0px 2px 1px var(--bg-color);
  padding-left: 50px;
  padding-right: 50px;

}

.links{
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.1s;
}

.links:hover{
  color: var(--bg-color-darker);
  text-decoration: underline
}

.navleft{
  display: flex;
  flex-direction:row;
  
}

.navleft > a{
  margin: 10px;
}

.navright{
  background-color:  var(--bg-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


/*------------------- breadcrumb -----------------------*/
#breadcrumb{
  font-size: 30px;
  background-color: var(--bg-color-darker);
  width: 40px;
  height:40px;
  text-align: center;
  border-radius: 5px;
  margin: 0 5px 0 5px;
  cursor: pointer;
  transition: color 0.2s, box-shadow 0.2s;

}

/*-----------------Search Bar--------------------*/

.searchbar{
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: center;
  margin: 0 5px 0 5px;
  background-color: var(--bg-color-darker);
  border-radius: 5px;
  height:40px;
  padding: 5px;
  cursor: pointer;
  transition: color 0.2s, box-shadow 0.2s;


 }
 .searchbar > i{
  margin: 0 5px 0 5px;
 }
 .searchbar-restname{
  width: 120px;
 }

 .searchbar:hover{
  color: white;
  box-shadow: 0px 0px 5px 1px black;  
  & .dropdown{
    color: black;
  }
 }
 /*Dropdown*/
 .dropdown{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-height: 450px;
  padding: 10px;
  border-radius: 7px;
  margin-top: 15px;
  visibility: visible;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  top: 50px;
  background-color: white;
 }

 .dropdown:hover{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-height: 450px;
  padding: 10px;
  border-radius: 7px;
  margin-top: 15px;
  visibility: visible;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  top: 50px;
  z-index: 1;
  background-color: white;
  color: black;
 }
 .dropdown-open{
  visibility: visible;
 }


.dropdown-search{
  width:100%;
  margin: 5px 0 5px 0;
  margin-right:5px ;
  border-radius: 3px;
  border: none;
  outline: none;
  text-indent: 15px;

  
}
 .dropdown-restaurant-list{
  width: 100%;
  margin: 5px 0 5px 0;
  overflow-y: scroll;
  overflow-x: none;

 }
 .resturants{
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  border-radius: 3px;
 }
 .resturants:hover{
  background-color:var(--bg-color);
 }

/*-----------------USer Login --------------------*/

.userLogin{
  background-color: var(--bg-color-darker);
  width: 40px;
  height:40px;
  text-align: center;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
 }

 .userLogin >a{
font-size: 30px; }

 /*Login Modal*/
 .modalBackground{
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  visibility: hidden;
 }
 .LoginModal{
  position: fixed;
  background-color: var(--bg-color);
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
 }

.LoginModal-top{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  margin-bottom: 10px;
}
.LoginModal-top >h5{
  font-size: 30px;
  font-weight: 500;

}

.LoginModal-mid{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--bg-color);

}

.LoginModal-mid > p{
  background-color: var(--bg-color);
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

.LoginModal-mid > input{
  width: 100%;
  height: 45px;
  border-radius: 8px;
  border: none;
  margin: 5px 0 5px 0;
  outline: none;
  padding-left: 5px;
  text-indent: 10px;

}

.LoginModal-mid > input:focus{
  box-shadow: 0px 0px 3px 0.5px black;  

}

.LoginModal-mid > input[type="submit"]{
background-color: var(--bg-color-darker);
transition: box-shadow 0.2s, color 0.2s;
font-weight: 500;
}

.LoginModal-mid > input[type="submit"]:hover{
  color:white;
  box-shadow: 0px 0px 3px 0.5px black;  

}

.LoginModal-bottom{
  width: 100%;
  background-color: var(--bg-color);
}
.LoginModal-bottom > p{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--bg-color);
}

#logout{
  background-color: var(--bg-color-darker);
  width: 40px;
  height:40px;
  text-align: center;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  padding: 10px;
}

/*----------------Cart ------------------------*/
.cart{
  background-color: var(--bg-color-darker);
  width: 40px;
  height:40px;
  text-align: center;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
  cursor: pointer;
  padding: 10px;
}

.reservations-background{
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  top:0;
  left:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reservations{
  position: fixed;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: whitesmoke;
  overflow-y: scroll;
  z-index: 100 !important;
  padding: 30px;
  
}

.reservations-head{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.reservation-list-item{

  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0px 10px 0px;
  justify-content: flex-start;
  align-items:center;
  /*border-left: 5px solid var(--bg-color-darker);*/
  /*box-shadow: 0px 0px 0.5px 0.5px;*/
  box-shadow: 0px 0px 5px 1px var(--bg-color-darker);
  border-radius: 8px;
  transition: box-shadow 0.2ms ease-in;
  padding: 10px;
  cursor: pointer;

}

.reservation-list-item:hover{
  box-shadow: 0px 0px 10px 1px var(--bg-color-darker);
}
.reservation-list-item1{
  width: 95%;
  display: flex;
  flex-direction: column;
}

.reservation-list-item-body{
  display: flex;
  flex-direction: row;
  height: 50px;

}
.reservation-list-item-body-items{
  display: flex;
  flex-direction: row;
}

.reservation-list-item-body-items > i{
  font-size: 30px;
}

.reservation-list-item-body-items > p{
  margin: 3px;
  margin-left: 8px;
}

.reservation-list-item-footer{
  height: 50px;
}
.reservation-list-item-footer-items{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.reservation-list-item-footer-items > i{
  font-size: 30px;

}

.no-reservations{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.reservation-list-item-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
}


.reservation-list-item-footer{
  font-size: 17px;
  font-weight: 500;

}

.reservation-list-item2 > i{
  color: rgb(255, 66, 66);
  transition: color 1s;

  font-size: 30px;
}
.reservation-list-item2 > i:hover{
  color: red;
}

/*---------------------------Side Panel----------------------------*/
.sidepanel-background{
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  top:0;
  left:0;
  
}
.sidepanel{
  background-color: whitesmoke ;
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 35vw;
  overflow-y: scroll;
  padding: 20px;
  right:0;
  top:0;
  transition: width 0.4s ease-in;
  z-index: 2 !important;

}
.sidepanel-head{
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;

}
#sidepanel-head-clsbtn{
  background-color: whitesmoke;
  font-size: 30px;
  color: black;
  cursor: pointer;
  
}
.sidepanel-body{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items:start;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidepanel-body-container{
background-color: whitesmoke;
  margin: 20px 0 20px 0;
}

.sidepanel-body-container > h3{
  margin-bottom: 20px;
}

.sidepanel-body-options{
  display: grid;
  grid-template-columns: 250px 250px;
}


.sidepanel-body-options > p{
  background-color: none;
  text-align: start;

}

/*----------------------------Footer-----------------------------------*/
.Footer{
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 70px;
}

.Footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--bg-color);
  width: 100%;
  margin: 20px 0 20px 0;;
}
.Footer-top-logo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color);

}


.Footer-mid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0 20px 0;;

}

.Footer-mid-card{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  width: 30%;
}

.Footer-mid-card > h5{
  font-weight: 700;
}
.Footer-mid-card-items{
  display: grid;
  grid-template-columns: auto auto;
  margin: 40px 0 10px 0;
}
.Footer-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  width: 100%;

}

.Footer-mid1-elem{
  font-weight: 300;
}


/*--------------------- Home -----------------------*/

.Home{
  background-color: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;
}

.search-resturants{
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 30%;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px black;
}
.search-resturant-dropdown{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.search-resturant-dropdown-searchbar{
  position: absolute;
  width: 500px;
}


.search-resturants >button{
  margin-left:5px ;
  width: 30%;
  height: 50px;
  border-radius: 9px;
  border: none;
  outline: none;
  background-color: var(--bg-color-darker);
  font-weight: 500;

}

.search-resturants>button:hover{
  color: white;
  box-shadow: 0px 0px 5px 1px black;  
}

.services{
  background-color: whitesmoke;
  margin: 50px 0 50px 0;
  width: 100%;
  padding: 50px 150px 50px 150px;
}
.services-container{
  background-color: var(--bg-color);
  width: 100%;
  height: 40vh;
  margin: 40px 0 40px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.services-container-elem{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  width: 50%;
  height: 100%;
  padding: 50px;
  border-radius: 10px;

}

.services-container-elem-start{

  align-items: flex-start;
  justify-content: center;
}
.services-container-elem-end{

  align-items: flex-end;
  justify-content: center;
}

.services-container-img{
  width: 50%;
  height: 100%;
}

.services-container-elem > button{
  height: 20%;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bg-color-darker);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.services-container-elem-tags{
  margin: 10px 0 10px 0;
  font-weight: 500;
}
.services-container-elem  > button:hover{
  color: white;
  box-shadow: 0px 0px 5px 1px black;  

}


/*-------------------Reserve Table Sidebar-----------------*/
.reservetable-sidepanel-background{
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  position: fixed;
  background-color: rgba(0,0,0,0.6);
  top:0;
  left:0;
}

.reservetable-sidepanel{
  background-color: whitesmoke ;
  display: flex;
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 30vw;
  padding: 20px;
  right:0;
  top:0;
  transition: width 0.4s ease-in;
  z-index: 2 !important;
}
.reservetable-sidepanel-top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;

}
#reservetable-sidepanel-head-clsbtn{
  background-color: whitesmoke;
  font-size: 30px;
  color: black;
  cursor: pointer;
  
}
.reservetable-sidepanel-mid{
  display: flex;
  flex-direction: column;
  align-items:start;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;

}

.reservetable-sidepanel-mid-dining{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10% 0 10% ;
  border-bottom: 2px none green;
  margin-top: 10px;
  margin-bottom: 10px;

}
.reservetable-sidepanel-mid-dining > button{
width: 40%;
border-width: 1px;
border-radius: 5px;
outline: none;
padding: 3px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: 10px 5px 10px 5px;
font-weight: 500;

}

.reservetable-sidepanel-mid-dining > button:hover{
  color: var(--bg-color-darker);
  border: 1px solid var(--bg-color-darker);
}


.reservetable-sidepanel-mid-dining > button > i{
  text-align: center;
  margin: 5px 5px 5px 0;
  font-size: 17px;

}
.reservetable-sidepanel-mid-dining > button > p{
  text-align: center;
  margin: 5px 0 5px 5px;
  font-size: 15px;

}

.reservetable-sidepanel-mid-date{

  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-evenly;
  overflow-x: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  scroll-behavior: smooth;

  

}
.reservetable-sidepanel-mid-date::-webkit-scrollbar{
  display: none;
}

.reservetable-sidepanel-mid-date > button{
border-width: 1px;
border-radius: 5px;
outline: none;
margin: 10px 5px 10px 5px;
background-color: none;
border-style: outset;
padding: 10px 25px 10px 25px;
font-weight: 500;


}

.reservetable-sidepanel-mid-date > button > p{
  text-align: center;
  margin: 5px 0 5px 5px;
  font-size: 15px;
  font-weight: 600;

}

.reservetable-sidepanel-mid-slot{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  overflow-x: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  scroll-behavior: smooth;

  
  

}

.reservetable-sidepanel-mid-slot::-webkit-scrollbar{
  display: none;
}

.reservetable-sidepanel-mid-slot > button{
width: 20%;
height: 40px;
border-width: 1px;
border-radius: 5px;
outline: none;
margin: 10px 5px 10px 5px;
font-weight: 500;

}



.reservetable-sidepanel-mid-guest{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;

}
.reservetable-sidepanel-mid-guest > div{
width: 20%;
height: 40px;
border: 1px solid var(--bg-color);
border-radius: 5px;
outline: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 10px 5px 10px 5px;
font-size: 25px;
font-weight: 600;
}


.reservetable-sidepanel-bottom{

  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 20px 0 20px;
  border: 1px solid rgb(216, 209, 209);

}
.reservetable-sidepanel-bottom > button{
  width: 20%;
  height: 40px;
  border-width: 1px;
  border-radius: 5px;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 5px 10px 5px;
  
  }

.inc-dec{
  background-color: var(--bg-color);
  transition: background-color 0.2s;
}
.inc-dec:hover{
  background-color: var(--bg-color-darker);
}
.reservetable-sidepanel-bottom-reserveguest{

}

.reserve-btn{
  font-weight: 500;

}

.reserve-btn:hover{
  color: var(--bg-color-darker);
  border: 1px solid var(--bg-color-darker);

}


.menu{
  background-color: whitesmoke;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.menu-header{
  width: 80vw;
  padding: 10px;

}

.menu-body{
  width: 80vw;
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto;
  border: 2px solid var(--bg-color-darker);
  border-radius: 8px;
}

.placeorder-form{
  width: 30%;
  height: 35px;
  text-indent: 5px;
  border-radius: 6px;
  margin: 0px 0px 10px 0px;
  outline: none;
  border: 2px solid var(--bg-color-darker);
  transition: box-shadow 0.2s;
  background-color: whitesmoke;
}

.placeorder-form:focus{
  box-shadow: 0px 0px 3px 0.5px var(--bg-color-darker);  
}


.menu-footer{
  width: 80vw;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.menu-footer-right{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.menu-footer-right > p{
font-weight: 500;
}


.container{
  width: calc(80vw /2.5);

}

.menu-element{
  display: flex;
  flex-direction: row;
  margin: 5px 0px 5px 0px;
  padding: 2px 5px 2px 3px;
}

.menu-element > label{
  width: 70%;
}

.menu-element-items{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-element-items > input[type='number']{
  width: 40px;
  height: 25px;
  border: none;
  outline: none;

}
.btn-order{
  border-radius: 6px;
  width: 90px;
  border: 2px solid var(--bg-color-darker);
  background-color: var(--bg-color-darker);
  padding: 5px;
  font-weight: 500;
  transition: box-shadow 0.2s;

}
.btn-order:hover{
  color: white;
  box-shadow: 0px 0px 5px 1px black;  
}

.veg{
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}
.nonveg{
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.dashboard{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard-left{
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  border-right: 2px solid var(--bg-color);
  
}

.dashboard-left > button{
  border-radius: 3px;
  margin: 5px;
}

.dashboard-right{
  width: 80vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}

.dashboard-right-container{
  border: 2px solid var(--bg-color);
  border-radius: 8px;
  width: 75vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-items-container-forstaff{
  padding: 10px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  border-left: 2px solid var(--bg-color-darker);
  border-right: 2px solid var(--bg-color-darker);
  border-radius: none;
  overflow-y: scroll;
}
.menu-items-container-forstaff-input{
  width: 100%;
  border-top: 2px solid var(--bg-color-darker) ;
  border-left: 2px solid var(--bg-color-darker) ;
  border-right: 2px solid var(--bg-color-darker) ;
  border-bottom: none;
  text-indent: 5px;
  border-radius: 5px 5px 0px 0px;
  outline: none;
}

.menu-items-container-forstaff-button{
  width: 100%;
  border-bottom: 2px solid var(--bg-color-darker) ;
  border-left: 2px solid var(--bg-color-darker) ;
  border-right: 2px solid var(--bg-color-darker) ;
  border-top: none;
  border-radius: 0px 0px 5px 5px;

}
.item-container{
  width: 100%;
  overflow-y: scroll ;
}

.order-frame{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3px;
  border: 2px solid var(--bg-color);
}

.order-frame-left{
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.order-frame-right{
  margin-right: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.items-table{
  width: 30%;
}